$terra-cotta: #ed6a5aff;
$pale-spring-bud: #f4f1bbff;
$opal: #9bc1bcff;
$cadet-blue: #5ca4a9ff;
$alabaster: #e6ebe0ff;

@font-face {
  font-family: 'Inter';
  src: url(./Inter.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(./Inter-ExtraBold.ttf);
}
