$jet: #333333ff;
$eminence: #643173ff;
$royal-purple: #7d5ba6ff;
$morning-blue: #86a59cff;
$eton-blue: #89ce94ff;

@font-face {
  font-family: 'Inter';
  src: url(./Inter.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(./Inter-ExtraBold.ttf);
}
