@charset "UTF-8";
@font-face {
  font-family: 'Inter';
  src: url(./Inter.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(./Inter-ExtraBold.ttf);
}

@-webkit-keyframes GradientMove {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@keyframes GradientMove {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scrollIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes scrollIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 812px) {
  nav {
    display: none !important;
  }
  main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main h1 {
    font-size: 5rem !important;
  }
  main p {
    font-size: 1rem !important;
    margin-bottom: 1rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: #9bc1bcff 1px solid;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
}

nav h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  color: #5ca4a9ff;
  cursor: pointer;
}

nav .nav-links {
  grid-column-end: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

nav .nav-links span a {
  color: #fff;
  text-decoration: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(300px, 100vh, 800px);
}

main .main-left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / span 7;
}

main .main-left h1 {
  font-family: 'Inter bold';
  font-size: 7rem;
  background: -webkit-gradient(linear, left top, right top, from(#ed6a5aff), color-stop(30%), to(#5ca4a9ff));
  background: linear-gradient(90deg, #ed6a5aff, 30%, #5ca4a9ff);
  background-size: 200% 200%;
  -webkit-animation: GradientMove 5s ease infinite, fadeIn 1s ease-in-out;
          animation: GradientMove 5s ease infinite, fadeIn 1s ease-in-out;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .main-left p {
  font-family: 'Inter';
  -webkit-animation: fadeIn 1.5s ease-in-out;
          animation: fadeIn 1.5s ease-in-out;
  font-size: 2rem;
}

main .main-right {
  -ms-grid-column: 14;
  -ms-grid-column-span: 6;
  grid-column: 14 / 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-right h3 {
  font-family: 'Inter';
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

main .main-right img {
  border-radius: 0.5rem;
  border: 2px solid #fff !important;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

main .main-right .dropinfo {
  width: 100%;
  margin-top: 1rem;
}

main .main-right .dropinfo h4 {
  text-align: center;
  font-family: 'Inter';
  font-size: 1.5rem;
}

.drop-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: 3rem, (20rem)[auto];
      grid-template-rows: 3rem, repeat(auto, 20rem);
}

.drop-list h3 {
  font-family: 'Inter';
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  -webkit-animation: scrollIn 500ms;
          animation: scrollIn 500ms;
}

.drop-list .drop-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  margin-bottom: 1rem;
  -webkit-animation: scrollIn 500ms;
          animation: scrollIn 500ms;
  position: relative;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  background-clip: padding-box;
  /* !importanté */
  border: solid 2px transparent;
  /* !importanté */
  border-radius: 1em;
}

.drop-list .drop-card:before {
  -webkit-animation: appear 500ms;
          animation: appear 500ms;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(135deg, #ed6a5aff, #5ca4a9ff);
}

.drop-list .drop-card h4 {
  font-family: 'Inter';
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.drop-list .drop-card .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-list .drop-card .info-container img {
  margin-right: 1rem !important;
  margin-left: 0.1px !important;
  border-radius: 0.5rem;
  border: 1px solid #fff !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.drop-list .drop-card .info-container p {
  max-width: 60%;
  margin-left: 1rem;
  font-family: 'Inter';
}
/*# sourceMappingURL=globals.css.map */